[submodule "style/scripts/async"]
	path = style/scripts/async
	url = https://github.com/caolan/async.git
[submodule "passport-google-oauth"]
	path = passport-google-oauth
	url = https://ykumar6@github.com/ykumar6/passport-google-oauth.git
[submodule "style/scripts/inlineedit"]
	path = style/scripts/inlineedit
	url = git://github.com/caphun/jquery.inlineedit.git
[submodule "node-twilio"]
	path = node-twilio
	url = https://ykumar6@github.com/ykumar6/node-twilio.git
[submodule "jwt-node"]
	path = jwt-node
	url = https://ykumar6@github.com/ykumar6/jwt-node.git
[submodule "install/twilio-outbound/twilio-php"]
	path = install/twilio-outbound/twilio-php
	url = https://ykumar6@github.com/ykumar6/twilio-php.git
[submodule "php-sdk"]
	path = php-sdk
	url = https://github.com/facebook/php-sdk.git
[submodule "install/facebook-friends/php-sdk"]
	path = install/facebook-friends/php-sdk
	url = https://github.com/facebook/php-sdk.git
[submodule "style/scripts/bootstrap"]
	path = style/scripts/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "node-dbox"]
	path = node-dbox
	url = https://github.com/sintaxi/node-dbox.git
