body {
    margin: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-rendering: optimizelegibility;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 100%; /* this is the key! */
}

body p {
    text-rendering: optimizelegibility;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #58595B;
}

.headerOptions .subText {
	color: #6D6E71;
}

.headerOptions .theBtn {
	cursor: pointer;
}

.tabHolder {
}

.browserToolbarLeft {
	height: 50px;
}

.toolbarContainer {
	overflow: hidden;
	width: 100%;
	min-width: 500px;
}

.tabHolder .active a, .tabHolder .active a:hover {
	border: 1px solid #F1F2F2 !important;
	border-bottom: 1px solid #FFF !important;

}

.tabHolder .nav-tabs {
	border-bottom: 1px solid #F1F2F2 !important;
}

.nav {
	margin-top: 20px;
	padding-left: 25px;
}

h1 input {
border: none;
background: none;
font-size: 18px;
font-weight: 400;
letter-spacing: 1px;
margin-right: 0px;
width: 300px;
line-height: 20px;
height: 20px;
vertical-align: middle;
margin-top: 7px;
}

h2 input {
border: none;
background: none;
font-size: 16px;
font-weight: 400;
letter-spacing: 1px;
margin-right: 0px;
width: 500px;
line-height: 18px;
height: 18px;
}

h2 button {
	vertical-align: top;
}

.commandBar {
	margin-top: 10px;
}

.commandBar .theBtn {
	display: inline-block;
	vertical-align: top;
	padding: 0px 10px 0px 10px;
	opacity: 0.75;
	-ms-filter: "alpha(opacity=75)";
	cursor: pointer;
}

.commandBar .theBtn.disabled {
	opacity: 0.2;
	-ms-filter: "alpha(opacity=20)";
}

.commandBar .theBtn.disabled:hover {
	opacity: 0.2;
	-ms-filter: "alpha(opacity=20)";

}

.commandBar .theBtn:hover {
	opacity: 1;
	-ms-filter: "alpha(opacity=100)";

}

.commandBar .theBtn > div {
	display: inline-block;
	vertical-align: middle;
}

.commandBar .theBtn .img {
	width: 50px;
	height: 50px;
    	background-position: center center;
   	background-repeat: no-repeat;
}

.commandBar .theBtn.Run {
}

.theBtn.share {
}

body.inactive .commandBar  .theBtn.Run {
	opacity: 0.2;
	-ms-filter: "alpha(opacity=20)";
}


.commandBar .theBtn.Run .img {
    background-image: url("images/runbtn.png");
}

.commandBar .theBtn.share .img {
    background-image: url("images/share.png");
}

.commandBar .theBtn.fork .img {
    background-image: url("images/fork.png");
}



body.oauth .saveStatus {
	display: none;
}

body.inactive .saveStatus {
	display: none;
}

.projRight .saveStatus.active {
	display: inline-block;
}

.projRight .saveStatus {
	display: none;
	color: #BFBFBF;
	float: left;
	margin-top: 28px;
	margin-right: 30px;
}

body.inactive .commandBar .theBtn.run {
	opacity: 0.5;
	-ms-filter: "alpha(opacity=50)";
	cursor: default;

}

body.inactive .commandBar .theBtn.run:hover {
	opacity: 0.5;
	-ms-filter: "alpha(opacity=50)";
	cursor: default;

}

.commandBar .theBtn.run {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	opacity: 0.75;
	-ms-filter: "alpha(opacity=75)";
	cursor: pointer;
}

body.inactive .theBtn.pop, body.oauth  .theBtn.pop {
	display: none;
}

.theBtn.pop {
	float: right;
    	background-image: url("images/popbtn.png");
    	background-position: center center;
    	background-repeat: no-repeat;
   	width: 25px;
    	height: 25px;
	margin-right: 10px;
	margin-top: 17px;
	opacity: 0.75;
	-ms-filter: "alpha(opacity=75)";
	cursor: pointer;

}

.theBtn.pop:hover {
	opacity: 1;
	-ms-filter: "alpha(opacity=100)";
}




.projLeft {
	margin-left: 10px;
	height: 100%;
}

.projLeft > div {
	display: inline-block;
	vertical-align: bottom;
}

.projRight {
	height: 100%;
	float: right;
}

.projRight > div {
	display: inline-block;
}


.projLeft .author {
	display: none;
	color: #414042;
	text-align: right;
	margin-bottom: 3px;
	margin-left: 30px;
	font-size: 16px;
	font-weight: 400;
}

.projLeft .author > * {
	display: inline-block;
	vertical-align: middle;
}

.author img {
	width: 25px;
	height: 25px;
	padding-right: 5px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
}

h2 {
    color: #6D6E71;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px !important;
}
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px !important;
    color: #6D6E71;
}

button {
    background-color:#fff;
    border:1px solid #D3E5EC;
    cursor: pointer;
}

.owner:hover {
	 background-color: #ffC;
	 color: black;
}

.shareDialog {
	z-index: 100;
	padding: 10px;
}

.shareDialog {
	position: absolute;
	width: 220px;
}
.shareDialog .field.app {
	margin-top: 10px;
}

.projBox {
	position: relative;
	left: 60px;
	overflow: hidden;
	padding-left: 20px;
	border-left: 1px solid #6D6E71;
	color: #F1F2F2;
}


.leftBar {
    position: relative;
    left: 50px;
}

.rightBar {
	float: right;
	margin-right: 15px;
}

.projBox .tag {
	padding-top: 3px;
	text-align: center;
	width: 35px;
	height: 20px;
	background-color: #6D6E71;
	border-radius: 3px;
	margin-right: 10px;
       font-family: "Courier New";
       font-size: 12px;
       font-weight: bold;
}

.gPlus {
	margin-top: 4px;
	margin-left: 15px;
}

.projBox > div {
	display: inline-block;
	vertical-align: middle;
}
.titleBox .projTitle {
	font-weight: 400;
	position: relative;
       font-size: 14px;
}

.titleBox .author {
	font-weight: 400;
	position: relative;
	font-size: 12px;
	top: -2px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% { 
    -webkit-transform: rotate(180deg);
  }
  50% { 
    -webkit-transform: rotate(180deg);
  }
  75% { 
    -webkit-transform: rotate(360deg);
  }
  100% { 
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframe rotate {
  0% {
    -moz-transform: rotate(0deg);
  }
  25% { 
    -moz-transform: rotate(180deg);
  }
  50% { 
    -moz-transform: rotate(180deg);
  }
  75% { 
    -moz-transform: rotate(360deg);
  }
  100% { 
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframe rotate {
  0% {
    transform: rotate(0deg);
  }
  25% { 
    transform: rotate(180deg);
  }
  50% { 
    transform: rotate(180deg);
  }
  75% { 
    transform: rotate(360deg);
  }
  100% { 
    transform: rotate(360deg);
  }
}


body .browser-center, body .browser-south {
	background: none !important;
}

body .server-south {
	background: #FFFFFF;
	-webkit-transition: background 0.2s;
}


body.inactive .server-south {
}



body.inactive .loading
{
    
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         3s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name:             rotate; 
    -moz-animation-duration:         3s; 
    -moz-animation-iteration-count:  infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name:             rotate; 
    -ms-animation-duration:         3s; 
    -ms-animation-iteration-count:  infinite;
    -ms-animation-timing-function: linear;


}

body.oauth #appFrame, body.inactive #appFrame {
	display: none;
}

body #appFrame {
	display: block;

}

.loading {
	z-index: 100;
	display: none;
	background-image: url("images/loading.png");
	width: 120px;
	height: 117px;
}

body.ie8 .loading {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
	display: none;
}


body.inactive .loading {
	display:block;
}

body.ie8.inactive .loading {
	opacity: 1.0;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
	display: block;

}

.floatBar {
	padding-top: 2px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 100;
	-ms-filter: "alpha(opacity=50)";
	opacity: 0.5;	
text-align: center;
width: 70px;
height: 20px;
border-radius: 2px;
border: 1px solid #D3E5EC;
background-color: #D3E5EC;
}


.mainText {
    margin-left: 15px;
    margin-top: 15px;
}
.mainText h3 {
    position: relative;
    top: -15px;
}

.headerWrapper {
    padding-right: 40px;
    padding-left: 40px;
    background-image: url("images/header.png");
    background-color: #FFF;
    height: 49px;	

}

.header {
   	height: 40px;	
	vertical-align: top;
	width: 100%;
	min-width: 960px;
	margin: 0 auto;
}

.header > div {
    display: inline-block;
    vertical-align: middle;
}

.headerOptions {
	margin-top: 5px;
	margin-left: 60px;
}

.headerOptions > div {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.headerOptions .theBtn .caption {
	color: #63A0D3;
	font-weight: 700;
	font-size: 14px;
}

.theBtn.newCode {
	padding-right: 20px;
	border-right: 1px solid #E6E7E8;
}

.theBtn.discoverCode {
	padding-left: 20px;
}

.projAreaWrapper {
	padding-right: 50px;
	padding-left: 50px;
	height: 75px;
	background-color: #F1F2F2;
	border-top: 1px solid #E6E7E8;
	border-bottom: 1px solid #E6E7E8;
}

.projArea {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
}

.projArea > div {
	display: inline-block;
}

.info {
	padding-top: 10px;
}

.projLeft .title {
}

.projLeft .title > * {
	display: inline-block;
	vertical-align: top;
}

.tags {
	margin-top: 5px;
	margin-left: 10px;
}


.tag {
	padding: 3px 5px 3px 5px;
	margin-left: 3px;
	display: inline-block;
	border-radius: 3px;
}

.tag.facebook {
	background-color: #D0E5F0;
}

.tag.dropbox {
	background-color: #D0E5F0;
}

.tag.twilio {
	background-color: #DAD3E3;
}

.tag.twiml {
	background-color: #E6E7E8;
}


.tag.php {
	background-color: #FFE6CB;
}

.projLeft .subTitle {
	position: relative;
}

.logo {
    background-image: url("images/logowhite.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 100%;
    position: relative;
    top: 8px;
}

#shareBtn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 55px;
    margin-left: -1px;
}
#shareBtn:hover {
}
#resetBtn {
    width: 55px;
}
.toolbar {
    margin-top: 5px;
}
.toolbar > a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #58595B;
    font-size: 14px;
}

.toolbar > a:hover {
    text-decoration: underline;
    color: #414042;
}

.toolbar .button {
    position: relative;
    padding: 10px;
    height: 100%;
    cursor: pointer;
    background-color: #414042;

}
.toolbar .button:hover {
    background-color: #58595B;
}



.toolbar .button.disabled > div {
	opacity: 0.2;
	-ms-filter: "alpha(opacity=20)";

}

.toolbar .button.disabled:hover {
    background-color: #414042;
}


.toolbar .button:active {
	top: 2px;
	left: 2px;

}

.toolbar .button > div {
    display: inline-block;
}
.button .img {
    vertical-align: middle;
    margin-right: 2px;
}
.button .caption {
    font-weight: 400;
    color: white;
    vertical-align: middle;
}
.button.play .img {
    background-image: url("images/playbtn.png");
    width: 23px;
    height: 23px;
}


.theBtn .dropdown {
    background-image: url("images/drop.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 5px;
    height: 5px;
    vertical-align: middle;
    margin-left: 5px;
    margin-top: 5px;
}

.button.share .img {
    background-image: url("images/share.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 23px;
    height: 23px;
}

.button.Login .img {
    background-image: url("images/login.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 23px;
    height: 23px;
}

.button.Logout .img {
    background-image: url("images/logout.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 23px;
    height: 23px;
}

.button.new .img {
    background-image: url("images/new.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 23px;
    height: 23px;
}


.button.reset .img {
    background-image: url("images/resetbtn.png");
    width: 13px;
    height: 13px;
}
.button.save .img {
    background-image: url("images/savebtn.png");
    width: 21px;
    height: 12px;
}
.dropdown {
    background: url("images/buttons.png") -37px -117px;
    width: 13px;
    height: 8px;
}
#optionsBtn {
    cursor: pointer;
    position: relative;
    left: 10px;
    top: 12px;
}
.canvas {
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.ui-layout-pane {
    border: none !important;
    overflow: hidden !important;
    padding: 0px !important;
}
.ui-layout-resizer {
    background: #E6E7E8 !important;
}

body .code-center, body .code-south, body .server-center {
    padding-top: 10px !important;
}
.CodeMirror-scroll {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.CodeMirror {
    height: 100%;
    width: 100%;
    overflow: auto;
}
.CodeMirror-gutter {
    background-color: white !important;
}
.tabs {
    position: absolute;
    bottom: -1px;
    width: 500px;
}
.tabs > div {
    display: inline-block;
}
.tab {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #61A0D5;
    color: #FFF;
    vertical-align: bottom;
    text-align: center;
    padding: 5px 10px 5px 10px;
    margin: 1px;

    opacity: 0.75;
    cursor: pointer;
    -webkit-transition: background-color 0.2s;
}
.tab.active {
    	opacity: 1;
    	border-left: 1px solid #D1D3D4;
    	border-top: 1px solid #D1D3D4;
    	border-right: 1px solid #D1D3D4;
	background-color: #FFF;
	color: #414042;
}
.tab.active:hover {
}
.tab:hover {
	opacity: 1;
}
#codeArea {
    height: 100%;
    width: 100%;
}
#serverArea {
    height: 100%;
    width: 100%;
}


.editor {
    width: 100%;
    height: 100%;
    display: none;
}

.editor.active {
	display: block;
}

body.oauth .logBar {
	display: none;
}

.logBar {
	width: 100%;
	height: 30px;
	padding-bottom: 5px;
}

.logBar .icon {
	margin-left: 10px;
}

.logBar .icon.check {
	background-image: url("images/checkmark.png");
	background-repeat: no-repeat;
	background-position: center center;
	width: 30px;
	height: 25px;
}

.logBar .icon.info {
	background-image: url("images/infomark.png");
	background-repeat: no-repeat;
	background-position: center center;
	width: 30px;
	height: 25px;
}
.logBar .icon.warn {
	background-image: url("images/warnmark.png");
	background-repeat: no-repeat;
	background-position: center center;
	width: 30px;
	height: 25px;
}

.logBar .icon.error {
	background-image: url("images/error.png");
	background-repeat: no-repeat;
	background-position: center center;
	width: 30px;
	height: 25px;
}


.logBar .logTextInner {
	padding-top: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.logBar .logTime {
	margin-top: 2px;
}

.logBar > div {
	display: inline-block;
	vertical-align: middle;
}

body.oauth .browser-center .ui-layout-pane {
	background-color: #F1F2F2;
}

body.oauth .facebook_oauth:hover {
	opacity: 1;
	-ms-filter: "alpha(opacity=100)";

}

.facebook_oauth {
	margin: 0 auto;
	z-index: 200;
	background-image: url("images/facebookrun.png");
	width: 350px;
	height: 100px;
	padding-bottom: 50px;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.challenge {
	z-index: 200;
}

.dropboxVerify {
	display: none;
}

.dropboxVerify button {
	float: right;
	margin-top: 15px;
}


.challenge.dropbox {
	margin: 0 auto;
	padding-bottom: 10px;
	width: 540px;
}


.challenge.dropbox .dropboxVerify {
	display: block;
}

.dropboxVerify .logo {
	vertical-align: middle;
	margin-right: 10px;
	display: inline-block;
	background-image: url("images/dropbox.png");
	width: 170px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center center;
}

.challenge.dropbox .box {
	width: 300px;
}

.challenge.twilio {
	margin: 0 auto;
	padding-bottom: 20px;
	width: 440px;
}

.challenge.twilio .twilioVerify {
	display: block;

}

.challenge.twilio .twilioVerify {
	display: block;
}

.twilioVerify {
	display: none;
}

.challenge .box {
	font-weight: 400;
	color: #404040;
	width: 270px;
	display: inline-block;
	vertical-align: middle;
	padding-top; 10px;
	padding-left: 25px;
	padding-bottom; 10px;

	border-left: 1px solid #C9CACB;

}

.challenge .box .big {
	font-size: 18px;
}
.challenge .box .small {
	font-size: 14px;
	font-weight: 400;
}

.twilioVerify .code {
	padding-right: 4px;
}



.twilioVerify .phoneBox {
	padding-top: 15px;
}


.twilioVerify .phoneBox > * {
	display: inline-block;
	vertical-align: middle;
}

.twilioVerify .phoneBox > input {
	width: 150px;
       font-size: 18px;
       border: 1px solid #999;
       border-radius: 4px;
       -webkit-border-radius: 4px;
       box-shadow: inset rgba(0,0,0,0.2) 0px 2px 5px;
	line-height: 21px;
	height: 21px;
	margin-bottom: 0px;

}

         
            .button {
		  font-size: 14px;
                border: 1px solid rgba(0, 0, 0, 0.4);
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                border-radius: 4px;
                background: #d2d2d2;
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#d2d2d2')";
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(245, 245, 245)), to(rgb(210, 210, 210)));
                background: -moz-linear-gradient(top, rgb(245, 245, 245), rgb(210, 210, 210));
                cursor: pointer !important;
                vertical-align: middle;
                padding: 4px 6px 4px 6px;
            }
            
            .button:hover {
                border: 1px solid rgba(0, 20, 40, 0.5);
                background: #D2D7E6;
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5faff', endColorstr='#d2d7e6')";
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(245, 250, 255)), to(rgb(210, 215, 230)));
                background: -moz-linear-gradient(top, rgb(245, 250, 255), rgb(210, 215, 230));
                color: #235;    
            }
            
            .button:active {
                
                border: 1px solid rgba(100, 120, 140, 0.9);
                background: #F5FAFF;
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2d7e6', endColorstr='#f5faff')";
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(210, 215, 230)), to(rgb(245, 250, 255)));
                background: -moz-linear-gradient(top, rgb(210, 215, 230), rgb(245, 250, 255));
                color: #235;
                -webkit-box-shadow: inset 0px 0px 4px rgba(0,0,0,0.3);
                -moz-box-shadow: inset 0px 0px 4px rgba(0,0,0,0.3);
                box-shadow: inset 0px 0px 4px rgba(0,0,0,0.3);
            }
            

.twilioVerify .logo {
	vertical-align: middle;
	margin-right: 10px;
	display: inline-block;
	background-image: url("images/twiliologo.png");
	width: 130px;
	height: 140px;
	background-repeat: no-repeat;
	background-position: center center;
}

.verifyCode {
	display: none;
}

.twilioVerify.askCode .verifyCode {
	display: block;
	color: #404040;
	width: 200px;
	vertical-align: middle;
	display: inline-block;
	padding-top; 10px;
	padding-left: 50px;
	padding-bottom; 10px;

	border-left: 1px solid #C9CACB;

}

.verifyCode .button {
	margin-left: 15px;
}

.twilioVerify .codeBox > div {
	vertical-align: middle;
	display: inline-block;

}


.twilioVerify .verifyCodeNumber {
	font-size: 36px;
	font-weight: 700;

}

.twilioVerify.askCode .box {
	display: none;
}


.twilioVerify .codeBox {
        padding-top: 10px;
}

.twilioPartner {
	background-image: url("images/twiliopartner.png");
	width: 210px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center center;
}



div.tagsinput input {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
-moz-transition: none;
-ms-transition: none;
-o-transition: none;
transition: none;
}

div.tagsinput {
	padding: 10px !important;
	border: none !important;
	margin-left: 10px !important;

}

div.tagsinput span.tag {
font-size: 11px !important;
padding: 0px 3px 0px 3px !important;
margin-left: 0px;
border-radius: 2px;
}

div.tagsinput input {
margin-right: 0px !important;
margin-bottom: 0px !important;
padding: 0px !important;
}

body.inactive .urlBar, body.oauth .urlBar, body.inactive .URLLabel, body.oauth .URLLabel {
	display: none;
}

.URLLabel {

float: left;
margin-top: 19px;
margin-left: 15px;
}

.urlBar {
margin-top: 15px;
margin-left: 5px;
width: 400px;
padding: 5px 4px 3px 4px;
font-size: 12px;
border: 1px solid #999;
border-radius: 4px;
-webkit-border-radius: 4px;
box-shadow: inset rgba(0,0,0,0.2) 0px 2px 5px;
}

