<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:a="http://ajax.org/2005/aml" >
    <head profile="http://www.w3.org/2005/10/profile">
        <script  type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script  type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
        <script  type="text/javascript" src="{static}/scripts/layout.js"></script>
        <script  type="text/javascript" src="{static}/scripts/tabs.js"></script>
        <script  type="text/javascript" src="{static}/scripts/logger.js"></script>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href='{static}/scripts/layout.css' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{static}/scripts/codemirror/lib/codemirror.css">
        <script src="{static}/scripts/codemirror/lib/codemirror.js"></script>
        <link rel="stylesheet" href="{static}/main.css">
        <script src="{static}/scripts/codemirror/mode/xml/xml.js"></script>
        <script src="{static}/scripts/codemirror/mode/php/php.js"></script>
        <script src="{static}/scripts/codemirror/mode/clike/clike.js"></script>
        <script src="{static}/scripts/codemirror/mode/javascript/javascript.js"></script>
        <script src="{static}/scripts/codemirror/mode/css/css.js"></script>
        <script src="{static}/scripts/async/lib/async.js"></script>
        <script src="{static}/scripts/inlineedit/jquery.inlineedit.js"></script>


        <script src="{static}/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            io.util.uniqueUri = function(uri) {
                var protocol = uri.protocol, host = uri.host, port = uri.port;
                host = host || document.domain;
                port = port || (protocol == 'https' && document.location.protocol !== 'https:' ? 443 : document.location.port);

                return (protocol || 'http') + '://' + host + "/" + uri.directory;
            };

            document.projectId = "{projId}";
            document.appUrl = "{appUrl}";
	        document.isOwner = {isOwner};
            $(function() {
                document.CodeCommands = CodeModule($(".editor"));

$(document).keydown(function(e) {
    var doPrevent;
    if (window.event.ctrlKey && e.keyCode == 83) {
	doPrevent = true;
    }
    else if (e.keyCode == 8) {
        var d = e.srcElement || e.target;
        if (d.tagName.toUpperCase() == 'INPUT' || d.tagName.toUpperCase() == 'TEXTAREA') {
            doPrevent = d.readOnly || d.disabled;
        }
        else
            doPrevent = true;
    }
    else
        doPrevent = false;

    if (doPrevent)
        e.preventDefault();
});

                $('body').layout({
                    north__resizable : false,
                    north__closable : false,
                    north__spacing_open : 0,
                    north__spacing_closed : 0,
                    north__slidable : false,
                    east__size : "50%",
                    east__closable : false,
                });

                $(".ui-layout-center").layout({
                    north__resizable : false,
                    north__closable : false,
                    north__spacing_open : 0,
                    north__spacing_closed : 0,
                    north__slidable : false,
                    north__paneSelector : ".codearea-north",
                    center__paneSelector : ".codearea-center",
                    center__onresize : function() {
                        //codeEditor.refresh();
                    }
                })

                $(".ui-layout-east").layout({
                    north__resizable : false,
                    north__closable : false,
                    center__paneSelector : ".server-center",
                    south__paneSelector : ".server-south",
                    south__size : "50%",
                    south__closable : false,
                    north__spacing_open : 0,
                    north__spacing_closed : 0,
                    north__slidable : false,
                })

                $(".codearea-center").layout({
                    center__paneSelector : ".code-center",
                })

                var southPane = $(".server-south").layout({
                    center__paneSelector : ".browser-center",
                    south__paneSelector : ".browser-south",
                    center__onresize : function() {
                        positionLoading();
                    },
                    south__resizable : false,
                    south__closable : false,
                    south__spacing_open : 0,
                    south__spacing_closed : 0,
                    south__slidable : false

                });
                
                var positionLoading = function() {
                    setTimeout(function() {
                        $(".loading").position({
                            of : $(".browser-center"),
                            my : "center center",
                            at : "center center"
                        });
                    }, 10);
                };
                positionLoading();
		  $("body").bind("save", function(e, state) {
			if (!$(".button.save").hasClass("disabled")) {
				$(".button.save").addClass("disabled");
			}
		  });
		  $("body").bind("push", function(e, state) {
			if (!$(".button.save").hasClass("disabled") && document.URL.indexOf(document.projectId) >= 0) {
				$(".button.save").addClass("disabled");
			}
			var iframe = document.getElementById("appFrame");
			iframe.src = iframe.src;
		  });


                
                
                var logHandler = new Logger(southPane);
                var socketVM, socketMain;
                var loadProject = function(cb) {
                    
                    var tryVMConnect = function() {
                        socketVM = socketVM = io.connect("/", {
                            resource : "" + document.projectId + "-portal/socket.io",
                            "force new connection" : true
                        });
    
                        socketVM.on("error", function(err) {
                            console.log("error");
                            setTimeout(tryVMConnect, 1000);
                        });
                        socketVM.on("connect", function(err) {
				if (cb) 
					cb();
                        });
                        logHandler.addSocket(socketVM);
                    };
                    var tryMainConnect = function() {
                        socketMain = io.connect("/", {
                            "force new connection" : true
                        });
                        socketMain.on('connect', function() {
                            socketMain.emit("attach", {
                                "projectId" : document.projectId
                            });
                        });
                        socketMain.on("error", function(err) {
                            setTimeout(tryMainConnect, 1000);
                        });
                    };
                    tryMainConnect();
                    tryVMConnect();
                }

                loadProject();
						

			var createProject = function(cb) {
                    			if (socketVM) {
                        			socketVM.disconnect();
                    			}
                    			if (socketMain) {
                        			socketMain.disconnect();
                    			}
        				$.ajax({
        					type: "GET",
        					url: "http://" + document.domain + "/fork/" + document.projectId,
        					success: function(data) {
        					    	data = JSON.parse(data);
        					       document.isOwner = true
        						document.projectId = data.projectId;
        						document.appUrl = data.appUrl;
        						loadProject(cb); //reload project connections
        					},
        					error: function() {
        						logHandler.handleMsg({
        							type: "warn",
        							text: "Unable to run your code. Please try again",
        							time: new Date()
        						});
        					}
        				});
			};


			var doSave = function() {
				document.CodeCommands.save(function() {
        					$.ajax({
        						type: "GET",
        						url: "http://" + document.domain + "/save/" + document.projectId,
        						success: function(data) {
								$(".projTitle").html(data.projectTitle);
								$(".projTitle").inlineEdit({save: function(e, data) {
        								$.post("http://" + document.domain + "/title/" + document.projectId, data);
									return true;
								}});
								$(".projTitle").addClass("owner");
        		       				window.history.pushState( {}, "", "http://" + document.domain + "/" + document.projectId);
        						},
        						error: function(err) {
								console.log(err);
								window.location = "/?state=loginEditor";
        						}
        					});
				});
			};


        		$(".button.save").mouseup(function() {
				if (!$(".button.save").hasClass("disabled")) {
					logHandler.clear();
        		   		if (!document.isOwner) {
						createProject(doSave);
					}
					else if (document.isOwner && document.URL.indexOf(document.projectId) < 0) {
						doSave();
        		   		} else {
						document.CodeCommands.save();
					}
				}
			});

        		$(".button.play").mouseup(function() {
				if (!socketVM || !socketVM.socket.connected) return;
				logHandler.clear();
        			if (document.isOwner) {
        			    document.CodeCommands.push();
        			} else {
					createProject(function() {
						document.CodeCommands.push();
					});
        			}
        		});

        		$(".button.Logout").mouseup(function() {
				window.location = "/logout?redirect=" + window.location;
        		}); 

        		$(".button.Login").mouseup(function() {
				window.location = "/?state=loginEditor&redirect=" + window.location;
        		}); 

        		$(".button.share").mouseup(function(e) {
				$("#sourceUrl").val("http://" + document.domain + "/" + document.projectId);
				$("#appUrl").val("http://" + document.appUrl);
				$(".shareDialog").css("top", "0px");
				$(".shareDialog").css("left", "0px");
				$( ".shareDialog" ).position({
					of: $( ".button.share" ),
					my: "right top",
					at: "right bottom"
				});
				$(".shareDialog").show();
        		}); 

			$(".header").mouseup(function(e) {
				if (!$(e.target).hasClass("share"))
					e.target = $(e.target).parents(".button.share");

				if (!$(e.target).hasClass("share")) {
					$(".shareDialog").hide();
				}
			});


        		$(".button.reset").mouseup(function() {
				if (!$(".button.reset").hasClass("disabled")) {
					document.CodeCommands.reset();
					$(".button.reset").addClass("disabled");
					if ($(".button.save").hasClass("disabled")) {
						$(".button.save").removeClass("disabled");
					}
				}
        		});  
	
			if (document.isOwner) {
				$(".projTitle").addClass("owner");
				$(".projTitle").inlineEdit({save: function(e, data) {
        				$.post("http://" + document.domain + "/title/" + document.projectId, data);
					return true;
				}});
			}
            });

        </script>
    </head>
    <body class="inactive">
        <div class="ui-layout-center">
            <div class="codearea-center">
                <div class="code-center">
                    <div class="editor html active" fileName="main.php">
                        <textarea class="code" mode="application/x-httpd-php"">
{main.php}
</textarea>
                    </div>
                    <div class="floatBar">
                        <div class="floatTab active">
                            PHP
                        </div>
                    </div>
                    
                    </div>
                    
                </div>
         </div>
                    <div class="ui-layout-north">
                        <div class="header">
                            <div class="logo"></div>
                            <div class="toolbar leftBar">
                                <div class="button play">
                                    <div class="img"></div>
                                    <div class="caption">
                                        Run
                                    </div>
                                </div>
                                <div class="button save disabled">
                                    <div class="img"></div>
                                    <div class="caption">
                                        Save
                                    </div>
                                </div>
                                <div class="button reset disabled">
                                    <div class="img"></div>
                                    <div class="caption">
                                        Reset
                                    </div>
                                </div>
                            </div>
                            <div class="projBox">
                                <div class="tag">
                                    php
                                </div>
                                <div class="titleBox">
                                    <div class="projTitle">{projectTitle}</div>
                                    <div class="author">{authorName}</div>
                                </div>

                            </div>
                            <div class="toolbar rightBar">
                                <div class="button share">
                                    <div class="img"></div>
                                    <div class="caption">
                                        Share
                                    </div>
                                    <div class="drop"></div>
                                </div>
                                <div class="button {login}">
                                    <div class="img"></div>
                                    <div class="caption">
                                        {login}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-layout-east">
                        <div class="server-center">
                            <div class="editor css active" fileName="css.php">
                                <textarea class="code" mode="css">
{css.php}
</textarea>
                    </div>
                            <div class="editor javascript" fileName="javascript.php">
                                <textarea class="code" mode="javascript">
{javascript.php}
</textarea>
                    </div>
                    <div class="floatBar">
                        <div class="floatTab javascript">
                            Javascript
                        </div>
                        <div class="floatTab active css">
                            CSS
                        </div>
                    </div>
                    </div>
                    <div class="server-south">
                        <div class="browser-center">
                    		<div class="floatBar">
                       		   <div class="floatTab active">
                            		Output
                                </div>
                            </div>
                            
                            <iframe id="appFrame" width="100%" height="100%" frameBorder="0">
                            </iframe>
                   		</div>
                        <div class="browser-south">
                            <div class="logBar">
                                <div class="icon check"></div>
                                <div class="logText">
                                    Your server is running at
                                </div>
                                <div class="logTime">
                                    2 minutes ago
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
				<div class="loading">
				</div>
			<div class="shareDialog" style="display:none;">
				<div class="field source">
					<div class="text">Share your source code</div>
					<input id="sourceUrl" />
				</div>
				<div class="field app">
					<div class="text">Share your app</div>
					<input id="appUrl" />
				</div>
			</div>
                    </body>
                    </html> 
