<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:a="http://ajax.org/2005/aml" >
    <head profile="http://www.w3.org/2005/10/profile">
        <title>InitMe - {title}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="{static}/socket.io/socket.io.js"></script>
        <script  type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script  type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
        <script  type="text/javascript" src="{static}/scripts/layout.js"></script>
        <script  type="text/javascript" src="{static}/scripts/tabs.js"></script>
        <script  type="text/javascript" src="{static}/scripts/logger.js"></script>
        <script  type="text/javascript" src="{static}/scripts/projectManagement.js"></script>
        <script  type="text/javascript" src="{static}/scripts/facebook_oauth.js"></script>
        <script  type="text/javascript" src="{static}/scripts/TwilioChallenge.js"></script>
        <script  type="text/javascript" src="{static}/scripts/DropboxChallenge.js"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-27720942-1']);
            _gaq.push(['_trackPageview']); (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

        </script>
        <link href="{static}/scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="{static}/scripts/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href='{static}/scripts/layout.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:bold,regular,medium,thin,italic,mediumitalic">
        <link rel="stylesheet" href="{static}/scripts/codemirror/lib/codemirror.css">
        <script src="{static}/scripts/codemirror/lib/codemirror.js"></script>
        <script src="{static}/scripts/codemirror/mode/xml/xml.js"></script>
        <script src="{static}/scripts/codemirror/mode/php/php.js"></script>
        <script src="{static}/scripts/codemirror/mode/clike/clike.js"></script>
        <script src="{static}/scripts/codemirror/mode/javascript/javascript.js"></script>
        <script src="{static}/scripts/codemirror/mode/css/css.js"></script>
        <script src="{static}/scripts/async/lib/async.js"></script>
        <link rel="canonical" href="./Twilio Docs - HowTo Twilio Client Click To Call_files/Twilio Docs - HowTo Twilio Client Click To Call.htm">
        <link rel="stylesheet" type="text/css" href="{static}/twilio/base.css">
        <link rel="stylesheet" type="text/css" href="{static}/twilio/buttons.css">
        <link rel="stylesheet" type="text/css" href="{static}/twilio/docs.css">
        <link rel="stylesheet" type="text/css" href="{static}/twilio/errors.css">
        <script type="text/javascript">
            io.util.uniqueUri = function(uri) {
                var protocol = uri.protocol, host = uri.host, port = uri.port;
                host = host || document.domain;
                port = port || (protocol == 'https' && document.location.protocol !== 'https:' ? 443 : document.location.port);

                return (protocol || 'http') + '://' + host + "/" + uri.directory;
            };

            document.projectId = "{projId}";
            document.appUrl = "{appUrl}";
            document.tags = "{tags}";
            document.isOwner = {isOwner};
            document.FacebookId = "{facebookId}";
            document.twilioId = "{twilioSid}";

            var parts = document.domain.split(".");
            document.realDomain = parts[parts.length - 2] + "." + parts[parts.length - 1];

            $(function() {

                document.tags = (document.tags || "").split(",");

                var alertFallback = false;
                if( typeof console === "undefined" || typeof console.log === "undefined") {
                    console = {};
                    if(alertFallback) {
                        console.log = function(msg) {
                            alert(msg);
                        };
                    } else {
                        console.log = function() {
                        };
                    }
                }

                function IsIE8Browser() {
                    var rv = -1;
                    var ua = navigator.userAgent;
                    var re = new RegExp("Trident\/([0-9]{1,}[\.0-9]{0,})");
                    if(re.exec(ua) != null) {
                        rv = parseFloat(RegExp.$1);
                    }
                    return (rv == 4);
                };

                if(IsIE8Browser()) {
                    $("body").addClass("ie8");
                }

		  $(".editor").mouseenter(function() {
                   	   $(".reloadCode.main").position({
                        	of : $(".editor.main"),
                        	my : "right top",
                        	at : "right top"
                   	   });
                   	   $(".reloadCode.javascript").position({
                        	of : $(".editor.javascript"),
                        	my : "right top",
                        	at : "right top"
                   	   });
                   	   $(".reloadCode.additional").position({
                        	of : $(".editor.additional"),
                        	my : "right top",
                        	at : "right top"
                   	   });
		  });

                var positionLoading = function() {
                    setTimeout(function() {
                        $(".loading").position({
                            of : $(".outputHolder"),
                            my : "center center",
                            at : "center center"
                        });
                    }, 1000);
                    $(".RunBtn").position({
                        of : $(".appWindow"),
                        my : "center center",
                        at : "center center"
                    });
                };

		  window.onresize = function(event) {
	                positionLoading();
		  }

                document.CodeCommands = CodeModule($(".editor"));
                //load up editor
                var challengeSession, projectSession;

                document.logHandler = new Logger($("<div></div>"));

                var isAuthRequired = true;
                projectSession = new document.ProjectManagement();
                projectSession.setState("oauth");

                if($.inArray("facebook", document.tags) >= 0) {
                    positionLoading();
                    challengeSession = new document.FacebookOAuth();
                    $("body").bind("oauthLogin", function(e, token) {
                        $("#myModal").modal("hide");
                        document.logHandler.show();
                        window.accessToken = token;
                        projectSession.setState("active");
                        document.CodeCommands.focus();
                    });
                    $("body").bind("oauthLogout", function(e) {
                        $("#appFrame").attr("src", "http://" + document.domain + "/loading");
                        projectSession.setState("oauth");
                        positionLoading();

                    });
                } else if($.inArray("twilio", document.tags) >= 0 || $.inArray("dropbox", document.tags) >= 0) {
                    positionLoading();

                    var modName = ($.inArray("twilio", document.tags) >= 0 ? "TwilioChallenge" : "DropboxChallenge");
                    challengeSession = new document[modName](projectSession);
                    $("body").bind("challengeComplete", function(e, token) {

                        document.logHandler.show();
                        projectSession.setState("active");
                        document.CodeCommands.focus();
                    });
                    $("body").bind("challengeStart", function(e) {
                        $("#appFrame").attr("src", "http://" + document.domain + "/loading");
                        projectSession.setState("oauth");
                        positionLoading();

                    });
                } else {
                    isAuthRequired = false;
                }

                projectSession.loadProject();

                $("body").bind("vmConnected", function(e) {
                    projectSession.setState("vmActive");
                });
                $("body").bind("vmDisconnected", function(e) {
                    $("#appFrame").attr("src", "http://" + document.domain + "/loading");
                    projectSession.setState("vmInactive");
                    positionLoading();
                });
                var _save = function() {
                    document.CodeCommands.save(function() {
                        $.ajax({
                            type : "GET",
                            url : "http://" + document.domain + "/save/" + document.projectId + "?ts=" + (new Date()).getTime(),
                            success : function(data) {
                                $(".title h1").html(data.projectTitle);
                                $(".subTitle h2").html(data.subTitle);

                                $(".title h1").inlineEdit({
                                    save : function(e, data) {
                                        $.post("http://" + document.domain + "/title/" + document.projectId, data);
                                        return true;
                                    }
                                });
                                $(".title h1").addClass("owner");

                                $(".subTitle h2").addClass("owner");
                                $(".subTitle h2").inlineEdit({
                                    save : function(e, data) {
                                        $.post("http://" + document.domain + "/subTitle/" + document.projectId, data);
                                        return true;
                                    }
                                });
                                window.location = "http://" + document.realDomain + "/" + document.projectId;
                            },
                            error : function(err) {
                                console.log(err);
                                window.location = "/?state=loginEditor";
                            }
                        });
                    });
                }

                $(".theBtn.fork").mouseup(function() {
                    if(!$(".theBtn.fork").hasClass("disabled")) {
                        document.logHandler.clear();
                        if(!document.isOwner) {
                            projectSession.createProject(_save);
                        } else if(document.isOwner && document.URL.indexOf(document.projectId) < 0) {
                            _save();
                        } else {
                            document.CodeCommands.save();
                        }
                    }
                });

                $(".RunBtn").click(function() {
                    if(!projectSession.isActive && isAuthRequired) {
				window.accessToken = document.twilioId;
				$("body").trigger("challengeComplete", {});
                    } else {
                        projectSession.setState("active");
                        document.logHandler.clear();
                        if(document.CodeCommands.isChanged()) {
                            if(document.isOwner) {
                                document.CodeCommands.push();
                            } else {
                                projectSession.createProject(function() {
                                    document.CodeCommands.push();
                                });
                            }
                        } else {
                            frame.src = iframe.src;
                        }
                    }
                });

                $(".reloadCode button").click(function() {
                    if(!projectSession.isActive && isAuthRequired) {
				//do nothing
                    } else {
                        projectSession.setState("active");
                        document.logHandler.clear();
                        if(document.CodeCommands.isChanged()) {
                            if(document.isOwner) {
                                document.CodeCommands.push();
                            } else {
                                projectSession.createProject(function() {
                                    document.CodeCommands.push();
                                });
                            }
                        } else {
                            frame.src = iframe.src;
                        }
                    }
                });


                $(".button.reset").mouseup(function() {
                    if(!$(".button.reset").hasClass("disabled")) {
                        document.CodeCommands.reset();
                        $(".button.reset").addClass("disabled");
                        if($(".button.save").hasClass("disabled")) {
                            $(".button.save").removeClass("disabled");
                        }
                    }
                });

                $("body").bind("save", function(e, state) {
                    if(!$(".theBtn.fork").hasClass("disabled")) {
                        $(".theBtn.fork").addClass("disabled");
                    }
                });
                $("body").bind("push", function(e, state) {
                    if(!$(".theBtn.fork").hasClass("disabled") && document.URL.indexOf(document.projectId) >= 0) {
                        $(".theBtn.fork").addClass("disabled");
                    }
                    var iframe = document.getElementById("appFrame");
                    iframe.src = iframe.src;
                });

                $("a.LOGOUT").mouseup(function() {
                    window.location = "/logout?redirect=" + window.location;
                });

                $("a.LOGIN").mouseup(function() {
                    window.location = "/?state=loginEditor&redirect=" + window.location;
                });

                $(".theBtn.newCode").mouseup(function() {
                    window.location = "/?state=newCode";
                });

                $(".theBtn.discoverCode").mouseup(function() {
                    window.location = "/?state=discoverCode";
                });

                $(".theBtn.download").mouseup(function() {
                    window.location = "/?state=downloadCode";
                });

                $(".theBtn.share").click(function(e) {
                    $("#sourceUrl").val("http://" + document.realDomain + "/" + document.projectId);
                    $("#appUrl").val("http://" + document.appUrl);
                    $(".shareDialog").css("top", "0px");
                    $(".shareDialog").css("left", "0px");
                    $(".shareDialog").position({
                        of : $(".theBtn.share"),
                        offset : "5 5",

                        my : "right top",
                        at : "right bottom"
                    });
                    $(".shareDialog").show();

                    setTimeout(function() {
                        $("body").bind("click.share", function(e) {
                            var parents = $(e.target).parents("#shareDialog");
                            if(parents.length === 0) {
                                $("#shareDialog").hide();
                                $("body").unbind("click.share");
                            }
                        });
                    }, 10);
                });

                $(".headerWrapper").click(function(e) {
                    if(!$(e.target).hasClass("share"))
                        e.target = $(e.target).parents(".theBtn.share");

                    if(!$(e.target).hasClass("share")) {
                        $(".shareDialog").hide();
                    }
                });

                $(".projAreaWrapper").click(function(e) {
                    if(!$(e.target).hasClass("share"))
                        e.target = $(e.target).parents(".theBtn.share");

                    if(!$(e.target).hasClass("share")) {
                        $(".shareDialog").hide();
                    }
                });

            });

        </script>
	 <style>
		.editor {
			width: 100%;
			height: auto;
		}

		.CodeMirror {
			width: 100%;
			height: auto;
		}
		.CodeMirror-scroll {
			height: auto; overflow: visible;
		}
		
	 </style>
    </head>
    <body>

        <div class="editor html active {fileName}" fileName="{fileName}.php" id="{fileName}">
            <textarea class="code" mode="{mode}" name="{fileName}">
{fileData}
</textarea>
        </div>

    </body>
</html>
